.ProgressBar{
  position: relative;
  height: 20px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #333;
}

.filler{
  background: #1DA598;
  height: 20px;
  border-radius: 20px;
  transition: width .2s ease-in;
}
